@model Product
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-lg-4">
        <h1 class="h3 mb-0 text-gray-800 mb-4">Brands Delete</h1>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-primary" asp-area="manage" asp-controller="category" asp-action="index">Go To Home</a>
    </div>
    <div class="col-lg-4">
        <a class="btn btn-danger" asp-area="manage" asp-controller="Product" asp-action="DeleteProduct" asp-route-id=@Model.Id>Delete</a>
    </div>
</div>
<div class="row my-3">

    <div class="col-lg-5">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img style="width : 80px" src="~/assets/images/product/@Model.HoverImage" />
                <h5 class="card-title"><strong>Category Name</strong> : @Model.Title</h5>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created By</th>
                    <th>Created At</th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th>@Model.Title</th>
                        <th>@Model.CreatedBy</th>
                        <th>@Model.CreatedAt?.ToString("dd-MMMM-yyyy")</th>
                    </tr>
            </tbody>
        </table>

    </div>
</div>


