@model Product
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="h3 mb-0 text-gray-800 mb-4">Update Product</h1>
    </div>

</div>

<div>
    <form asp-action="Create" asp-area="manage" asp-controller="product" method="post">
        <div class="mb-3 w-50">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control">
            <span style="color : red" asp-validation-for="Title"></span>
        </div>
        <div class="my-3 " id="selectInput">
            <div class="input-group w-50 mb-3">
                <select asp-for="Brand" name="Brand" asp-items="new SelectList(ViewBag.Brands ,nameof(Brand.Id),nameof(Brand.Name))" class="custom-select">
                </select>
            </div>
        </div>

        <div class="my-3 " id="selectInputCategory">
            <div class="input-group w-50 mb-3">
                <select asp-for="Category" name="Category" asp-items="new SelectList(ViewBag.Categories ,nameof(Category.Id),nameof(Category.Name))" class="custom-select">
                </select>
            </div>
        </div>

        <div class="input-group w-50 mb-3">
            <select asp-for="TagIds" name="ParentId" class="custom-select" asp-items="new SelectList(ViewBag.Tags,nameof(Tag.Id),nameof(Tag.Name) , Model.TagIds)">
            </select>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
            <span style="color : red" asp-validation-for="Price"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="DiscountedPrice" class="form-label"></label>
            <input asp-for="DiscountedPrice" class="form-control">
            <span style="color : red" asp-validation-for="DiscountedPrice"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="ExTax" class="form-label"></label>
            <input asp-for="ExTax" class="form-control">
            <span style="color : red" asp-validation-for="ExTax"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="Count" class="form-label"></label>
            <input asp-for="Count" class="form-control">
            <span style="color : red" asp-validation-for="Count"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="IsNewArrival" class="form-label"></label>
            <input asp-for="IsNewArrival" class="form-control">
            <span style="color : red" asp-validation-for="IsNewArrival"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="IsBestSeller" class="form-label"></label>
            <input asp-for="IsBestSeller" class="form-control">
            <span style="color : red" asp-validation-for="IsBestSeller"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="IsFeatured" class="form-label"></label>
            <input asp-for="IsFeatured" class="form-control">
            <span style="color : red" asp-validation-for="IsFeatured"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="MainFile" class="form-label"></label>
            <input asp-for="MainFile" class="form-control">
            <span style="color : red" asp-validation-for="MainFile"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="HoverFile" class="form-label"></label>
            <input asp-for="HoverFile" class="form-control">
            <span style="color : red" asp-validation-for="HoverFile"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="Files" class="form-label"></label>
            <input asp-for="Files" class="form-control">
            <span style="color : red" asp-validation-for="Files"></span>
        </div>
        <div class="mb-3 w-50">
            <label asp-for="Description" class="form-label"></label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
            <span style="color : red" asp-validation-for="Description"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>